
#displayPixels, #displayPixelsWidth {
    position: absolute;
    right: 12%;
    top: 5%;
    color: white;
    font-size: 24px;
    opacity: 0;
}

#displayPixelsWidth {
    right: 20%;
}


@font-face {
    font-family: Charmonman;
    src: url(../font/Charmonman-Bold.ttf);
}

@font-face {
    font-family: Charmonman;
    src: url(../font/Charmonman-Regular.ttf);
}

@font-face {
    font-family: Karla;
    src: url(../font/Karla-Bold.ttf);
}

@font-face {
    font-family: Karla;
    src: url(../font/Karla-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    z-index: 10;
}

:root {
    --white: rgb(255, 255, 255, .85);
    --purple: rgb(227, 203, 248, .95);
    --purple-solid: rgb(227, 203, 248);
    --lighter-purple: #d7ccc7;
    --light-brown: rgb(233, 214, 188, .9);
    --brown: #7e5b4a;
    --dark-brown: #5c4236;
}

::-webkit-scrollbar {
    display: none;
}

img {
    max-width: 100%;
}

html, body {
    background: linear-gradient(to right, var(--purple) 50%, var(--brown) 50%);
}

html {
   scroll-behavior: smooth;
    background: linear-gradient(to right, rgb(227, 203, 248) 60%, var(--brown) 60%);
}

body {
    width: 960px;
    margin: 0 auto;
}

header {
    margin: 0 0 800px 10.2%;
    font-family: Charmonman;
    font-size: 28px;
    font-weight: 600;
    color: var(--brown);
    display: flex;
    align-items: center;
    Justify-content: space-between;
    /*border: 1px solid goldenrod;*/
}

nav a{
    color: var(--light-brown);
    margin-left: 26px;
}

.smaller-device-nav {
    display: none;
}

section.hero {
   /* border: 1px solid blue;*/
    z-index: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    font-family: Charmonman;
    font-size: 18px;
    font-weight: 600;
    transform: translate(-50%, -54%);
    -webkit-transform: translate(-50%, -54%);
    -moz-transform: translate(-50%, -54%);
    -ms-transform: translate(-50%, -54%);
    -o-transform: translate(-50%, -54%);
}

div.container {
    position: relative;  
    /*border: 1px solid orangered;*/
}

div.logo-container {
   /* border: 1px solid goldenrod;*/
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.15s linear;
    -webkit-transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.15s linear;
    -moz-transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.15s linear;
    -ms-transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.15s linear;
    -o-transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.15s linear;
}


div.logo-text {
    width: 20px;
    position: fixed;
    left: 50%; 
}

div.logo-text h1:nth-child(1),
div.logo-text h1:nth-child(2){
   color: #7e5b4a;
   position: absolute;
   transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.1s linear;
   -webkit-transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.1s linear;
   -moz-transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.1s linear;
   -ms-transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.1s linear;
   -o-transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.1s linear;
}

div.logo-text h1:nth-child(2){
    color: #e9d6bc;
}

.translate-logo-container {
    transform: translateX(2%);
    -webkit-transform: translateX(2%);
    -moz-transform: translateX(2%);
    -ms-transform: translateX(2%);
    -o-transform: translateX(2%);
}


.translate-logotext-left {
    transform: translate(-155%, 0%);
    -webkit-transform: translate(-155%, 0%);
    -moz-transform: translate(-155%, 0%);
    -ms-transform: translate(-155%, 0%);
    -o-transform: translate(-155%, 0%);
}

.translate-logotext-right {
    transform: translate(25%, 0%);
    -webkit-transform: translate(25%, 0%);
    -moz-transform: translate(25%, 0%);
    -ms-transform: translate(25%, 0%);
    -o-transform: translate(25%, 0%);
}


.welcome-to-page-border {
    position: absolute;
    background: var(--purple);
    box-shadow: 1px 1px 5px var(--dark-brown);
    display: flex;
    padding: 7px 0 6px 0;
    transition: transform 0.6s 0.3s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.3s linear;
    -webkit-transition: transform 0.6s 0.3s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.3s linear;
    -moz-transition: transform 0.6s 0.3s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.3s linear;
    -ms-transition: transform 0.6s 0.3s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.3s linear;
    -o-transition: transform 0.6s 0.3s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.3s linear;
}

.translate-welcome-up {
    opacity: 1;
    transform: translate(7%, 15%);
    -webkit-transform: translate(7%, 15%);
    -moz-transform: translate(7%, 15%);
    -ms-transform: translate(7%, 15%);
    -o-transform: translate(7%, 15%);
}

.translate-welcome-down {
    opacity: 0;
    transform: translate(7%, 80%);
    -webkit-transform: translate(7%, 80%);
    -moz-transform: translate(7%, 80%);
    -ms-transform: translate(7%, 80%);
    -o-transform: translate(7%, 80%);
    transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.3s linear;
    -webkit-transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.3s linear;
    -moz-transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.3s linear;
    -ms-transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.3s linear;
    -o-transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.1s 0.3s linear;
}

.welcome-to-page-content {
    display: flex;
    padding: 15px 30px;
    font-size: 21px;
    background: var(--brown);
    box-shadow: none;
    color: #e9d6bc;
    font-family: Karla;
}

.welcome-to-page-border {
    /*padding: 7px 0 6px 0;*/
    background: var(--purple);
    padding: 6px 0 5px 0;
}

/*-----------------------------------*/

section.border, footer {
    margin: 150px 0 0 0;
}

section.border {
    padding: 5px 6px 6px 0;
    background: var(--purple-solid);
    /*=============================
      Added position relative to get
      section.border to obey z-index
      command
      ============================*/
    position: relative;
}

section:nth-of-type(3) {
    padding: 6px 6px 6px 0;
    background: var(--purple-solid);
}

div.content, div.content-alt {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 15px 15px;
    background: var(--brown);
    color: var(--white);
    box-shadow: 1px 1px 2px var(--dark-brown);
    padding: 40px 0;
    font-family: Karla;
    font-size: 18px;
}

div.content-alt {
    background: var(--purple);
    color: var(--dark-brown);
    padding: 60px 0 50px 0;
    box-shadow: none;
    grid-auto-flow: dense;
}

div.content div.text {
    grid-column: 2/ span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.content div.img {
    grid-column: 7/ span 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.content div.img img{
    max-width: 47%;
}

div.content-alt div.img {
    grid-column: 1/ span 6;
}

div.content-alt div.img img{
    max-width: 90%;
}

div.content-alt div.text {
    grid-column: 7/ span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.text h1 {
    font-family: charmonman;
    font-size: 26px;
    font-weight: 550;  
}

div.text p {
    margin: 15px 0 0 0;
}

.first-button, .second-button {
    align-self: flex-start;
    padding: 15px 20px;
    font-family: Karla;
    font-size: 22px;
    font-weight: bold;
    margin: 40px 0 0 0;
    background: var(--white);
    border: 3px solid var(--dark-brown);
    color: var(--dark-brown);
}


.second-button {
    padding: 12px 40px;
    margin: 0 0 20px 0;
}

footer {
    color: var(--dark-brown);
    font-family: Karla;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 0 0;
}

footer img {
    width: 34px;
    margin: 0 0 0 44px;
}

footer .mail-icon {
    width: 44px;
}

.display-block {
    display: block;
}

@media screen and (max-width: 1155px) {
    body {
        width: 75%;
        margin: 0 auto;
    }

    header {
        font-size: 26px;
       
    }

    nav a{
        margin-left: 20px;
    }

    section.hero {
        font-size: 16px;
    }
    
    div.content, div.content-alt {
        padding: 40px 0;
        font-size: 17px;
    }


    div.text h1 {
        font-size: 24px;
    }
    
    div.text p {
        margin: 10px 0 0 0;
       
    }

    .first-button, .second-button {
        font-size: 20px;
        margin: 30px 0 0 0;
        padding: 13px 20px;

    }

    .second-button {
        padding: 10px 30px;
        margin: 0 0 10px 0;
    }

    footer {
        color: var(--dark-brown);
        font-family: Karla;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0 0 0;
    }
    
    footer img {
        width: 32px;
        margin: 0 0 0 34px;
    }
    
    footer .mail-icon {
        width: 41px;
    }
    
}


@media screen and (max-width: 889px) {
    body {
        width: 85%;
    }

    /*nav a{
        margin-left: 15px;
    }*/

    header {
        margin: 0 10.2% 800px 10.2%;
    }

    .larger-device-nav {
        display: none;
    }

    header img {
        width: 30px;
        margin: 40% 0 0 0;
    }

    .smaller-device-nav {
        display: block;
        color: var(--light-brown);
    }

}


@media screen and (max-width: 754px) {
    body {
        width: 75%;
    }

    section.border {
        padding: 3px 4px 4px 0;
    }
    
    section:nth-of-type(3) {
        padding: 4px 4px 4px 0;
        box-shadow: 1px 1px 5px var(--dark-brown);
    }
    

    div.content, div.content-alt {
        padding: 40px;
        display: flex;
        flex-direction: column-reverse;
    }

    div.content div.img, 
    div.content-alt div.img {
       margin: 0 0 40px 0;
    }

    div.content div.img img{
        max-width: 40%;
    }

    div.text p {
        margin: 18px 0 0 0;
    }

    .second-button {
        margin: 0 0 15px 0;
    }

    footer {
        font-size: 15px;
        margin: 40px 0 0 0;
    }

    footer img {
        width: 31px;
        margin: 0 0 0 25px;
    }
    
    footer .mail-icon {
        width: 40px;
    }
}

@media screen and (max-width: 540px) {
    body {
        width: 80%;
    }

    header {
        font-size: 24px;
    }

    section.hero {
        font-size: 15px;
    }

    .first-button, .second-button {
        font-size: 19px;
        margin: 30px 0 0 0;
        padding: 13px 20px;

    }

    .second-button {
        padding: 10px 30px;
        margin: 0 0 10px 0;
    }

    div.text h1 {
        font-size: 22px;
    }
    
    .hide-footer-name {
        display: none;
    }

    footer {
        font-size: 14px;
    }

    footer img {
        width: 29px;
        margin: 0 0 0 21px;
    }
    
    footer .mail-icon {
        width: 37px;
    }
}

@media screen and (max-width: 400px) {
    body {
        width: 85%;
    }

    header {
        font-size: 22px;
    }

    header img {
        width: 28px;
    }

    section.hero {
        font-size: 15px;
    }

    footer img {
        width: 27px;
        margin: 0 0 0 17px;
    }
    
    footer .mail-icon {
        width: 35px;
    }

}

/*
@media screen and (max-height: 1010px) {
    body {
        width: 960px;
        margin: 0 auto;
        padding: 95px 0;
    }
    section.hero {
        /*border: 1px solid blue;*\/
        position: fixed;
        left: 50%;
        font-family: Charmonman;
        font-size: 18px;
        font-weight: 600;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    
    .translate-logo-container {
        transform: translate(2%, -7.1%);
        -webkit-transform: translate(2%, -7.1%);
        -moz-transform: translate(2%, -7.1%);
        -ms-transform: translate(2%, -7.1%);
        -o-transform: translate(2%, -7.1%);
    }
}
*/

/*

.translate-logo-container-up {
    transform: translate(6.6%, -5.5%);
    -webkit-transform: translate(6.6%, -5.5%);
    -moz-transform: translate(6.6%, -5.5%);
    -ms-transform: translate(6.6%, -5.5%);
    -o-transform: translate(6.6%, -5.5%);
}

.translate-logo-container-down {
    transform: translate(6.6%, -10.5%);
    -webkit-transform: translate(6.6%, -10.5%);
    -moz-transform: translate(6.6%, -10.5%);
    -ms-transform: translate(6.6%, -10.5%);
    -o-transform: translate(6.6%, -10.5%);
}

.translate-logotext-left {
    transform: translate(110%, 0%);
    -webkit-transform: translate(110%, 0%);
    -moz-transform: translate(110%, 0%);
    -ms-transform: translate(110%, 0%);
    -o-transform: translate(110%, 0%);
}

.translate-logotext-right {
    transform: translate(210%, 0%);
    -webkit-transform: translate(210%, 0%);
    -moz-transform: translate(210%, 0%);
    -ms-transform: translate(210%, 0%);
    -o-transform: translate(210%, 0%);
}

.translate-logotext-farther-left {
    transform: translate(10%, 0%);
    -webkit-transform: translate(10%, 0%);
    -moz-transform: translate(10%, 0%);
    -ms-transform: translate(10%, 0%);
    -o-transform: translate(10%, 0%);
}

.translate-logotext-farther-right {
    transform: translate(310%, 0%);
    -webkit-transform: translate(310%, 0%);
    -moz-transform: translate(310%, 0%);
    -ms-transform: translate(310%, 0%);
    -o-transform: translate(310%, 0%);
}

.translate-logotext-up-right {
    transform: translate(420%, -400%);
    -webkit-transform: translate(420%, -400%);
    -moz-transform: translate(420%, -400%);
    -ms-transform: translate(420%, -400%);
    -o-transform: translate(420%, -400%);
}

.translate-logotext-up-left {
    transform: translate(-140%, -400%);
    -webkit-transform: translate(-140%, -400%);
    -moz-transform: translate(-140%, -400%);
    -ms-transform: translate(-140%, -400%);
    -o-transform: translate(-140%, -400%);
}

.translate-logotext-in-left {
    opacity: 0;
    transform: translate(110%, -400%);
    -webkit-transform: translate(110%, -400%);
    -moz-transform: translate(110%, -400%);
    -ms-transform: translate(110%, -400%);
    -o-transform: translate(110%, -400%);
}

.translate-logotext-in-right {
    opacity: 0;
    transform: translate(210%, -400%);
    -webkit-transform: translate(210%, -400%);
    -moz-transform: translate(210%, -400%);
    -ms-transform: translate(210%, -400%);
    -o-transform: translate(210%, -400%);
}

*/


